
@media screen and (min-width: 481px){
    /* Responsive Aside */
    aside{
        width: 175px;
    }
    main{
        width: calc(100% - 175px);
    }
    header{
        width: calc(100% - 175px);
    }
    aside>div:nth-of-type(1){
        align-items: flex-start;
    }
    .loghi-high li:nth-of-type(1) img{
        width: 40px;
    }
    aside img{
        margin-right: 10px;
    }
    .loghi-high p,
    .loghi-low p,
    .loghi-low,
    .playlist,
    aside hr{
        display: block;
    } 
    .loghi-high li,
    .playlist> div > div:nth-of-type(1),
    .playlist> div > div:nth-of-type(2),
    .playlist li,
    .loghi-low{
        padding-left: 10px; 
    }
    .loghi-high li,
    .playlist> div > div:nth-of-type(2),
    .playlist li,
    .loghi-low{
        cursor: pointer;
    }
    .loghi-high li:hover,
    .playlist li:hover{
        border-left: 4px solid yellow;
        padding-left: 6px;
    }
    .loghi-high li:hover p,
    .playlist li:hover,
    .playlist div:nth-of-type(2):hover span,
    .loghi-low div:hover p{
        color: white;
    }
    .playlist div:nth-of-type(2):hover .plus{
        background-color: white;
    }
    
}
/* Responsive Navbar */
@media screen and (min-width: 482px) and (max-width: 724px){
    .navbar li{
        flex-basis: calc((100% / 3) - 5px);
    }
    .navbar{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 725px) and (max-width: 900px){
    .navbar li{
        flex-basis: calc((100% / 5) - 5px);
    }
    .navbar{
        font-size: 0.8em;
    }
    .grid-movie li{
        flex-basis: calc(25% - 10px);
    }
}

@media screen and (min-width: 901px){
    .navbar li{
        flex-basis: inherit;
        margin-right: 20px;
    }
    .navbar{
        font-size: 0.8em;
    }
    .grid-movie li{
        flex-basis: calc(16.6666% - 10px);
    }
    .block-right svg,
    .block-right div{
    display: block;
    }
}

