@media screen and (min-width: 481px){

    /* Comportamento Aside */
    aside{
        width: 175px;
    }
    main{
        width: calc(100% - 175px);
    }
    aside>div:nth-of-type(1){
        align-items: flex-start;
    }
    .loghi-high li:nth-of-type(1) img{
        width: 40px;
    }
    aside img{
        margin-right: 10px;
    }
    .loghi-high p,
    .loghi-low p,
    .loghi-low,
    .playlist,
    aside hr{
        /* padding-left: 5px; */
        display: block;
    } 
    .loghi-high li,
    .playlist> div > div:nth-of-type(1),
    .playlist> div > div:nth-of-type(2),
    .playlist li,
    .loghi-low{
        padding-left: 10px; 
    }
    .loghi-high li,
    .playlist> div > div:nth-of-type(2),
    .playlist li,
    .loghi-low{
        cursor: pointer;
    }
    .loghi-high li:hover,
    .playlist li:hover{
        border-left: 4px solid yellow;
        padding-left: 6px;
    }
    .loghi-high li:hover p,
    .playlist li:hover,
    .playlist div:nth-of-type(2):hover span,
    .loghi-low div:hover p{
        color: white;
    }
    .playlist div:nth-of-type(2):hover .plus{
        background-color: white;
    }

}
