/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
ul{
    list-style-type: none;
}
p,
span,
li,
h2{
    font-weight: 1000;
}
/* Layout WebApp */
body{
    width: 100vw;
    height: 100vh;
}
.cont-body{
    width: 100vw;
    height: calc(100vh - 75px);
}
aside{
    width: 50px;
    height: 100%;
}
main{
    width: calc(100% - 50px);
    height: 100%;
    overflow-y: auto;
}
header{
    width: calc(100% - 50px);
    height: 75px;
    position: fixed;
    z-index: 1;
}
footer{
    width: 100%;
    height: 75px;
    position: fixed;
}

/* Aside */
aside img{
    width: 20px;
    margin-bottom: 5px;
}
aside li{
    margin-bottom: 5px;
}
.new-playlist{
    height: 20vh;
    overflow-y: auto;
}
.new-playlist li{
    margin-bottom: 15px;
}
.loghi-high li:not(li>.f-big),
.playlist{
    color: #707070;
}
.loghi-high li,
.loghi-low div{
    display: flex;
    align-items: center;
}
.loghi-low{
    width: 100%;
}
.plus{
    padding: 10px;
    font-size: 20px;
    background-color: #707070;
    color: black;
    vertical-align: middle;
}
.loghi-high p,
.loghi-low p,
.playlist,
aside hr{
    display: none;
} 

/* Header */
header{
    display: flex;
    align-items: center;
}
header div{
    text-align: right;
}
.upgrade{
    text-transform: uppercase;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 25px;
}
.upgrade:hover{
    padding: 10px 30px;
    cursor: pointer;
}

/* Nav */
.navbar{
    font-size: 0.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar li{
    color: #707070;
    margin-bottom: 25px;
    margin-right: 5px;
    flex-basis: calc(25% - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    display: none;
    width: 30%;
    text-align: center;
    border: 1px solid yellow;
}
.navbar li:hover{
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}
.navbar li:hover .board{
    display: block;
}

/* Griglia dei film */
.grid-movie ul{
    display: flex;
    flex-wrap: wrap;
}
.grid-movie li{
    color: white;
    flex-basis: calc(50% - 10px);
    text-align: center;
    margin-right: 10px;
    margin-bottom: 15px;
}
.grid-movie h3{
    padding-bottom: 10px;
}
.grid-movie p{
    color: #707070;
}
.grid-movie li > div{
    position: relative;
}
.fa-regular{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0;
}
.grid-movie li > div:hover > img{
    cursor: pointer;
    filter: opacity(0.2);
}
.grid-movie li > div:hover .fa-regular{
    opacity: 1;
    cursor: pointer;
}

/* Footer */
footer p{
    color: #707070;
}
/* Block di sinistra */
.block-left svg{
    width: 15px;
    fill: #707070;
}
.cont-img img{
    width: 40px;
}
.block-left p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.block-left svg:hover{
    fill: white;
    cursor: pointer;
}
/* Block centrale */
.block-center svg{
    width: 15px;
    fill: white;
}
#play{
    width: 25px;
}
.time-line{
    width: 30vw;
    height: 4px;
    background-color: #707070;
}
.line-done{
    width: 30%;
    height: 100%;
    background-color: white;
}
.block-center svg{
    cursor: pointer;
}
#play:hover{
    transform: scale(1.2);
}
.time-line,
.volume-line{
    cursor: pointer;
}
.time-line:hover .line-done,
.volume-line:hover .line-done{
    background-color: yellow;
}
.time-line:hover .circle,
.volume-line:hover .circle{
    display: block;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    align-self: center;
    display: none;
}
/* Block a destra */
.block-right svg{
    width: 15px;
    fill: white;
    margin-right: 10px;
}
.volume-line{
    width: 100px;
    height: 4px;
    background-color: #707070;
}
.block-right svg{
    cursor: pointer;
}
/* Tag in diplay:none nel footer*/
.block-right svg,
.block-right .volume-line,
.block-right .line-done{
        display: none;
    }