*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/* Background */
.bg-aside{
    /* background-color: #000000; */
    background-color: blue;
}
.bg-footer{
    /* background-color: #282828; */
    background-color: red;
}
.bg-main{
    /* background-color: #141922; */
    background-color: yellow;
}
.bg-header{
    /* background-color: rgba(0,0,0,0.5); */
    background-color: orange;
}

/* Flexbox */
.flex{
    display: flex;
}