/* Padding */
.p-xl-10{
    padding-left: 10px;
}
.p-yb-10{
    padding-bottom: 10px;
}
.p-yb-20{
    padding-bottom: 20px;
}
/* Margin */
.m-yb-20{
    margin-bottom: 20px;
}
/* Font */
.f-white{
    color: white;
}
.f-grey{
    color: #707070;
}
.f-normal{
    font-size: 1.1em;
}
.text-center{
    text-align: center;
}
/* Background */
.bg-aside{
    background-color: #000000;
    /* background-color: blue; */
}
.bg-footer{
    /* background-color: #282828; */
    background-color: red;
}
.bg-main{
    /* background-color: #141922; */
    background-color: yellow;
}
.bg-header{
    /* background-color: rgba(0,0,0,0.5); */
    background-color: orange;
}

/* Flexbox */
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-space_between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-inherit{
    align-items: inherit;
}

/* Container */
.cont-90{
    width: 100%;
    height: 100%;
}


