/* Padding */
.p-xl-10{
    padding-left: 10px;
}
.p-xr-10{
    padding-right: 10px;
}
.p-xr-20{
    padding-right: 20px;
}
.p-xt-10{
    padding-top: 10px;
}
.p-yt-75{
    padding-top: 75px;
}
.p-xb-10{
    padding-bottom: 10px;
}
.p-yb-10{
    padding-bottom: 10px;
}
.p-yb-20{
    padding-bottom: 20px;
}
/* Margin */
.m-yb-20{
    margin-bottom: 20px;
}
/* Font */
.f-white{
    color: white;
}
.f-grey{
    color: #707070;
}
.f-normal{
    font-size: 1.1em;
}
.f-big{
    font-size: 1.8em;
}
.text-center{
    text-align: center;
}
.f-uppercase{
    text-transform: uppercase;
}
/* Background */
.bg-aside{
    background-color: #000000;
}
.bg-footer{
    background-color: #282828;
}
.bg-main{
    background-color: #141922;
}
.bg-header{
    background-color: rgba(0,0,0,0.5);
}

/* Flexbox */
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.justify-space_between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-inherit{
    align-items: inherit;
}

/* Container */
.cont-100{
    width: 100%;
    height: 100%;
}

.cont-95{
    width: 95%;
    margin: 0 auto;
}
.cont-90{
    width: 90%;
    margin: 0 auto;
}
.cont-60{
    width: 60%;
    margin: 0 auto;
}
/* Border */
.border_radius-50{
    border-radius: 50%;
}